{% extends 'my_app/base.html' %}
{% block body_block %}
<div>
    {% for posts in post_list %}
      {% if posts.publish_date %}
      <div class="card">
      <div class="card-header">
        <a href="{% url 'my_app:post_detail' pk=posts.pk %}"><b>{{posts.title|title}}</b></a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{posts.text|truncatewords:20|safe|linebreaksbr}}</h5>
        <p class="card-text">{{posts.author|title}}</p>
        <a href="{% url 'my_app:comment_post' pk=posts.pk %}" class="btn btn-primary">Apply</a>
      </div>
    </div>
        {% endif %}

        {% endfor %}
</div>
<style type="text/css">
    .card {
        margin: 25px 0;
        opacity: 0.7;
        font-size: 30px;
        font-weight: 400;
    }
</style>

{% endblock %}