{% extends 'my_app/base.html' %}
{% load staticfiles%}
{% block body_block %}
<h1 class='commenttitle techfont' id="heading">Welcome {{user|title}}!!</h1><br>           
        {% for posts in post_list %}
           {% ifequal posts.author user %}
           <div class="card">
            <div class="card-header">
              <a href="{% url 'my_app:post_detail' pk=posts.pk %}"><b>{{posts.title|title}}</b></a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{posts.text|truncatewords:20|safe|linebreaksbr}}</h5>
              <p class="card-text"><strong>{{posts.author|title}}</strong></p>
              <a href="{% url 'my_app:comment_post' pk=posts.pk %}" class="btn btn-primary">Apply</a>
              {% if posts.publish_date %}
               <div class="date">{{posts.publish_date}}</div>
               {% ifnotequal posts.author user %}    
               <a class="btn btn-info comment-btn" href="{% url 'my_app:comment_post' pk=posts.pk %}">Add Comment</a>
               {% endifnotequal %} 
               {% ifequal posts.author user %}
               <a class="btn btn-info publish-btn" href="{% url 'my_app:publish_post' pk=posts.pk %}">Publish</a>
               {% endifequal %}
               {% else %}
              <a class="btn btn-info publish-btn" href="{% url 'my_app:publish_post' pk=posts.pk %}">Publish</a>
              {% endif %}
               <div><a href="{% url 'my_app:comment_list' pk=posts.pk%}" >Comments:{{posts.Comment.all.count}}</a></div>
            </div>
            {% else %}
            {% endifequal %}
            {% endfor %}
          </div>           
          <style type="text/css">
    .card {
        margin: 25px 0;
        opacity: 0.7;
        font-size: 30px;
        font-weight: 400;
    }
    #heading{
        color: white;
    }
</style>
<script>
  username = document.getElementsByClassName('.techfont')[0];

</script>
{% endblock %}  
