
{% extends 'my_app/base.html' %}
{% block body_block %}
{% if registered %}
<p class="text-center" id="registered" ><strong>Thank u for registering !!</strong></p>
{% else %}
<div class="row container" >
<div class="col-md-4"></div>
<div class="col-md-4"id="out" style="align-items:center">
<form method="POST">
    {% csrf_token %}
    {{Userform.as_p}}
    {{Profileform.as_p}}
    <div class="text-center">
    <button type="submit" value="Register" class="btn btn-primary btn-lg" id="but" ><i class="fa fa-graduation-cap" aria-hidden="true"></i> Register </button> 
    </div>
</form>
</div>
<div class="col-md-4"> </div>
</div>

{% endif %}
<style>
        .text-center{
            text-align: center !important;
            color: aliceblue;
            font-size: 3rem;
        }
    </style>
{% endblock %}  
