

{% extends 'my_app/base.html' %}


{% block body_block %}
  <div class="jumbotron text-center">

    <h3>(Must be SuperUser, please check admin for issues.)</h3>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class='btn btn-lg btn-primary' value="Login"> <i class="fa fa-graduation-cap" aria-hidden="true"></i> Login</button>        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}